[Unit]
Description=Binder AudioFlinger dummy service
DefaultDependencies=no
After=local-fs.target
Before=droid-hal-init.service

[Service]
Environment=AUDIOSYSTEM_PASSTHROUGH_TYPE=af
EnvironmentFile=-/etc/sysconfig/audiosystem-passthrough-dummy-af
ExecStart=/usr/libexec/audiosystem-passthrough/audiosystem-passthrough --address dummy
Restart=always

[Install]
WantedBy=multi-user.target
