[Unit]
Description=Binder android.hardware.audio@2.0 dummy service
After=droid-hal-init.service
Before=ofono.service

[Service]
Environment=AUDIOSYSTEM_PASSTHROUGH_TYPE=hw2_0
EnvironmentFile=-/etc/sysconfig/audiosystem-passthrough-dummy-hw2_0
ExecStart=/usr/libexec/audiosystem-passthrough/audiosystem-passthrough --address dummy
Restart=always

[Install]
WantedBy=multi-user.target
